.header-banner {
  background-color: #ffe2d2;
  height: 19.6875rem;
  color: #212124;
}
.banner-contents {
  max-width: 48rem;
  margin: 0 auto;
  padding: 3rem 1rem 0;
  display: flex;
  flex-direction: row;
  position: relative;
}

.carrotcarrot {
  display: block;
}
.carrotcarrot p {
  line-height: 1.32;
  font-size: 1.125rem;
  letter-spacing: -1%;
  display: block;
  margin: 1rem 0 0;
}
.carrotcarrot button {
  line-height: 1.4;
  font-size: 0.875rem;
  min-height: 2.125rem;
  padding: .3125rem .625rem;
  color: #fff;
  background-color: #ff6f0f;
  font-weight: 700;
  border: 0;
  border-radius: .25rem;
  cursor: pointer;
}
.banner-contents img {
  position: absolute;
  right: 0;
  width: 37.6875rem;
  object-fit: cover;
  height: 267px;
}